header {
  height: 400px;
  width: 100vw;
  background-color: coral;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#create-new-tweet-btn:hover {
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  header {
    height: 400px;
    width: 30vw;
    margin: 2em;
    background-color: coral;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #create-new-tweet-btn:hover {
    cursor: pointer;
  }
}
