.new-tweet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.new-tweet button {
  background-color: #4056a1;
  color: white;
  font-family: "Bungee", cursive;
}
.new-tweet button:hover {
  cursor: pointer;
}

.new-tweet textarea {
  height: 2.5em;
  box-sizing: border-box;
  width: 100%;
  outline: 0;
  border-width: 0 0 0.2em;
  border-color: #283049;
  resize: none;
  color: #283049;
  font-weight: bold;
  background-color: #f4f1ec;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
}

.new-tweet form {
  width: 100%;
}

.new-tweet output {
  font-family: "Bungee", cursive;
}
