.new-tweet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.new-tweet button {
  background-color: #4056a1;
  color: white;
  font-family: "Bungee", cursive;
}

.new-tweet textarea {
  height: 1.5em;
  box-sizing: border-box;
  width: 100%;
  outline: 0;
  border-width: 0 0 0.1em;
  border-color: #181d2e;
  resize: vertical;
  color: #181d2e;
  font-weight: bold;
  background-color: #f4f1ec;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
}

.new-tweet form {
  width: 100%;
}

.new-tweet output {
  font-family: "Bungee", cursive;
}
